@font-face {
    font-display: swap;
    font-style: normal;
    font-family: Roag;
    font-weight: 400;
    src: url("public\font\ROAG-MEDIUM.OTF");
}

@font-face {
    font-display: swap;
    font-style: normal;
    font-family: Roag;
    font-weight: 600;
    src: url("font\ROAG-BOLD.OTF");
}

@font-face {
    font-display: swap;
    font-style: normal;
    font-family: Object-Sans;
    font-weight: 500;
    src: url("font\OBJECT SANS.OTF");
}
@font-face {
    font-display: swap;
    font-style: normal;
    font-family: Causten-round;
    font-weight: 500;
    src: url("font\CAUSTEN ROUND.OTF");
}