{% extends 'employee/employee_base.html' %}

{% block title %}Associated Doctors{% endblock %}

{% block content %}

<h2>Associated Doctors</h2>
<body class="bg-light">

{% if associated_doctors %}
    <div class="container my-5">
        <div class="row g-4">
        {% for doctor in associated_doctors %}
          <div class="col-md-4">
            <div class="card border-primary text-center shadow-sm">
              <div class="card-body">
                <img src="{{ doctor.image.url }}" alt="{{ doctor.get_full_name }}" />
                <h5 class="card-title fw-bold">{{ doctor.prefix }} {{ doctor.first_name }} {{ doctor.last_name }}</h5>
                <p class="card-text">EMAIL: {{ doctor.email }}</p>
                <p class="card-text">CONTACT NUMBER: {{ doctor.mobile_number }}</p>
              </div>
            </div>
          </div>
        {% endfor %}
        {% else %}
        <p>No associated doctors found.</p>
    </div>    
    {% endif %}
    </div>
    
         
{% endblock %}